@import url("https://fonts.googleapis.com/css?family=Bungee+Shade|Permanent+Marker|Playfair+Display|Source+Sans+Pro&display=swap");

.About {
  margin-top: 185px;
  font-family: "Source Sans Pro", sans-serif;
  color: #1f2031;
  font-size: 20px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(196, 196, 196, 0.6);
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 3%;
}
.desire,
.same {
  text-align: center;
}
.yearn,
.author {
  text-align: right;
}
.motto {
  font-family: "Permanent Marker", cursive;
  font-size: 25px;
  color: #fdf7f7;
  text-align: center;
}
/* /////////////////////////////////////// */
/* /////////////////////////////////////// */
/* 769px — 1024px: Small screens, laptops  */
/* /////////////////////////////////////// */
/* /////////////////////////////////////// */
@media (max-width: 875px) {
  .About {
    margin-top: 150px;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    overflow: auto;
    height: 100%;
    max-height: 500px;
  }
  .desire,
  .same,
  .yearn,
  .crave {
    text-align: center;
  }
}
/* /////////////////////////////////////// */
/* /////////////////////////////////////// */
/* //// 481px — 768px: iPads, Tablets //// */
/* /////////////////////////////////////// */
/* /////////////////////////////////////// */
@media (max-width: 760px) {
  .About {
    margin-top: 190px;
  }
  .desire,
  .same,
  .yearn,
  .crave {
    text-align: center;
  }
  .motto {
    font-size: 20px;
  }
}
@media (max-width: 745px) {
  .About {
    margin-top: 200px;
    font-size: 17px;
    padding-left: 50px;
    padding-right: 50px;
    overflow: auto;
    height: 100%;
    max-height: 450px;
  }
  .desire,
  .same,
  .yearn,
  .crave {
    text-align: center;
  }
  .motto {
    font-size: 20px;
  }
}
@media (max-width: 745px) {
  .About {
    margin-top: 200px;
    font-size: 17px;
    padding-left: 50px;
    padding-right: 50px;
    overflow: auto;
    height: 100%;
    max-height: 450px;
  }
  .motto {
    font-size: 20px;
  }
}
