@import url("https://fonts.googleapis.com/css?family=Bungee+Shade|Permanent+Marker|Playfair+Display|Source+Sans+Pro&display=swap");

.hero-text {
  font-family: "Permanent Marker", cursive;
  font-size: 96px;
  color: #fdf7f7;
  letter-spacing: 0.2em;
}
.hero-text-find {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-text-your {
  position: absolute;
  top: 31.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-text-saturday {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* /////////////////////////////////////// */
/* /////////////////////////////////////// */
/* 769px — 1024px: Small screens, laptops  */
/* /////////////////////////////////////// */
/* /////////////////////////////////////// */
@media (max-width: 815px) {
  .hero-text-find {
    top: 25%;
  }
  .hero-text {
    font-size: 66px;
  }
  .hero-text-your {
    top: 40%;
  }
  .hero-text-saturday {
    top: 55%;
  }
}
/* /////////////////////////////////////// */
/* /////////////////////////////////////// */
/* //// 481px — 768px: iPads, Tablets //// */
/* /////////////////////////////////////// */
/* /////////////////////////////////////// */
@media (max-width: 760px) {
  .hero-text-find {
    top: 25%;
  }
  .hero-text {
    font-size: 66px;
  }
  .hero-text-your {
    top: 40%;
  }
  .hero-text-saturday {
    top: 55%;
  }
}
@media (max-width: 575px) {
  .hero-text-find {
    top: 30%;
  }
  .hero-text {
    font-size: 66px;
  }
  .hero-text-your {
    top: 43%;
  }
  .hero-text-saturday {
    top: 55%;
  }
}
/* /////////////////////////////////////// */
/* /////////////////////////////////////// */
/* //// 320px — 480px: Mobile devices ////  */
/* /////////////////////////////////////// */
/* /////////////////////////////////////// */
@media (max-width: 390px) {
  .hero-text-find {
    top: 35%;
  }
  .hero-text-your {
    top: 48%;
  }
  .hero-text-saturday {
    top: 61%;
  }
  .hero-text {
    font-size: 40px;
  }
}
