@import url("https://fonts.googleapis.com/css?family=Bungee+Shade|Permanent+Marker|Playfair+Display|Source+Sans+Pro&display=swap");

.detail-photo {
  width: 225px;
  border-radius: 3%;
  height: 345px;
  margin: 20px;
}
.detail-header {
  font-family: "Playfair Display", serif;
  font-size: 64px;
  color: #1f2031;
}
a {
  text-decoration: none;
}
.detail-button {
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.detail-header-button,
.detail-button {
  margin-left: auto;
  margin-right: auto;
}
.details {
  font-family: "Playfair Display", serif;
  color: #1f2031;
  font-size: 30px;
  text-decoration: underline;
}
.detail-landing {
  margin-top: 170px;
  background-color: rgba(196, 196, 196, 0.5);
  position: absolute;
  top: 8px;
  left: 16px;
  overflow: scroll;
  border-radius: 3%;
  max-width: 1300px;
  margin-left: 40px;
  width: 100%;
  height: 500px;
  text-align: center;
}
.detail-card {
  height: 345px;
  background-color: #818e9b;
  width: 225px;
  display: inline-block;
  margin: 20px;
  border-radius: 3%;
  font-family: "Source Sans Pro", sans-serif;
  color: #fdf7f7;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  overflow: scroll;
}
/* /////////////////////////////////////// */
/* /////////////////////////////////////// */
/* 1025px — 1200px: Desktops, large screens*/
/* /////////////////////////////////////// */
/* /////////////////////////////////////// */
@media (max-width: 1165px) {
  .detail-header {
    font-size: 35px;
  }
  .detail-landing {
    margin-top: 170px;
    max-width: 1100px;
    margin-left: 10px;
  }
  .detail-card {
    margin-top: 30px;
    width: 175px;
    font-size: 20px;
    text-align: center;
  }
}
@media (max-width: 1135px) {
  .detail-landing {
    margin-top: 170px;
    max-width: 900px;
    margin-left: 110px;
  }
}
@media (max-width: 1075px) {
  .detail-landing {
    margin-top: 170px;
    max-width: 900px;
    margin-left: 60px;
  }
}
/* /////////////////////////////////////// */
/* /////////////////////////////////////// */
/* 769px — 1024px: Small screens, laptops  */
/* /////////////////////////////////////// */
/* /////////////////////////////////////// */
@media (max-width: 1075px) {
  .detail-landing {
    max-width: 760px;
    margin-left: 100px;
  }
}
@media (max-width: 890px) {
  .detail-landing {
    max-width: 760px;
    margin-left: 50px;
  }
}
@media (max-width: 840px) {
  .detail-landing {
    max-width: 760px;
    margin-left: 60px;
  }
}
@media (max-width: 815px) {
  .detail-landing {
    max-width: 700px;
    margin-left: 50px;
  }
}
@media (max-width: 780px) {
  .detail-landing {
    max-width: 550px;
    margin-left: 150px;
  }
}
/* /////////////////////////////////////// */
/* /////////////////////////////////////// */
/* //// 481px — 768px: iPads, Tablets //// */
/* /////////////////////////////////////// */
/* /////////////////////////////////////// */
@media (max-width: 745px) {
  .detail-landing {
    max-width: 550px;
    margin-top: 190px;
    margin-left: 100px;
  }
}
@media (max-width: 695px) {
  .detail-landing {
    margin-top: 220px;
    margin-left: 70px;
  }
}
@media (max-width: 660px) {
  .detail-landing {
    margin-left: 40px;
  }
}
/* /////////////////////////////////////// */
/* /////////////////////////////////////// */
/* //// 320px — 480px: Mobile devices ////  */
/* /////////////////////////////////////// */
/* /////////////////////////////////////// */
