@import url("https://fonts.googleapis.com/css?family=Bungee+Shade|Permanent+Marker|Playfair+Display|Source+Sans+Pro&display=swap");

form {
  font-family: "Source Sans Pro", sans-serif;
  background-color: rgba(196, 196, 196, 0.5);
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 500px;
  margin-top: 150px;
  overflow: auto;
  border-radius: 3%;
}
h3 {
  font-size: 20px;
}
.form-button,
input,
h3 {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.form-category {
  padding-left: 100px;
  font-weight: 700;
}
.form-category-details {
  height: 50px;
}

::placeholder {
  color: #1f2031;;
}
input {
  background: transparent;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  border-bottom: 2px solid red;
  resize: none;
  width: 300px;
}
input:focus {
  border: 3px solid #555;
}
button {
  font-family: "Playfair Display", serif;
  border: 2px #b63838 solid;
  color: #1f2031;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
