@import url("https://fonts.googleapis.com/css?family=Bungee+Shade|Permanent+Marker|Playfair+Display|Source+Sans+Pro&display=swap");

.nav-header {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 8px;
  left: 16px;
}
.nav-link a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  color: #b63838;
  text-decoration: none;
  padding-top: 100px;
  margin-top: 25px;
}
.nav-link {
  margin-top: 25px;
}
.nav-link-right {
  margin-left: 10px;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px;
}
.nav-link-about {
  padding-left: 700px;
}
